@media only screen and (max-width: 600px){  

    .nav {

        font-family: monospace;
        font-size: 15px;
        font-display: midnightblue;
         
    }
    

    .header {

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
       
        }

    .ghost{

        max-width: 350px;
        height: 230px;
        position: relative;
        display: flex;
        border: white 5px solid;
        margin-bottom: 20px;

        } 

        .body{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

        }
        .about{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;


        }

        .ghost2{

        max-width: 350px;
        height: 230px;
        position: relative;
        display: flex;
        border: white 5px solid;
        margin-bottom: 20px;
    


        }

        .songs {

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;

        }

    .ghost3{

        width: 300px;
        height: 260px;
        position: relative;
        display: flex;
        border: white 5px solid;
        margin-left: 25px;
        margin-bottom: 20px;


    }

    .bandcamp{

        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        margin-top: 30px;
        color: darkgrey;
    }

    .shows{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;


    }

    .ghost4 {

    width: 350px;
    height: 230px;
    position: relative;
    display: flex;
    border: white 5px solid;
    margin-bottom: 20px;

    }


}  

@media only screen and (min-width:768px){
    .nav{

        font-family: monospace;
        font-size: 25px;
        margin-bottom: 50px;

        
    } 

    .header{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;
        
    }

    .ghost{

        width: 650px;
        height: 435px;
        position: relative;
        margin: auto;
        padding: 45px;
        border: white 5px solid;
        margin-bottom: 20px;
    }

    .body{

        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .about{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;
        margin-top: 15px;
        margin-bottom: 40px;


    }
    .ghost2{

        max-width: 600px;
        height: 400px;
        position: relative;
        display: flex;
        border: white 5px solid;
        margin-bottom: 50px;
        margin-left: 65px;
        
    }   

    .body{

        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 30px;
       
    }

    .songs{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;
        margin-top: 20px;
        margin-bottom: 50px;

    }

    .ghost3{

        width: 600px;
        height: 500px;
        position: relative;
        display: flex;
        border: white 5px solid;
        margin-left: 70px;
        margin-bottom: 50px;
    }

    .bandcamp{

        font-family: monospace;
        font-size: 30px;
        margin-left: 275px;
        color: midnightblue;
    }

    .tour{

        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 60px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .ghost4 {

        width: 600px;
        height: 450px;
        position: relative;
        display: flex;
        border: white 5px solid;
        margin-left: 70px;
        margin-bottom: 20px;
    
        }
    }   