
body {

    background-color: antiquewhite;

    
}
.brule{

    font-family: cursive;
    font-style: oblique;
} 
.brules-rules {

    font-size: 20px;
    

}.img1{

    height: 300px;
    width: 300px;
}

.img2{
    height: 300px;
    width: 325px;
}


