@media only screen and (max-width: 600px){

    @font-face {
    
        font-family: Portland;
        src: url(PortlandLdo-L394.ttf)
    
    }
    body {
        background-color: rgb(217, 217, 238);
        background-image: url(https://images.unsplash.com/photo-1566146991394-b09a95e80d17?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80);
        background-size: 1250px;
    }    
    .nav {
        color: rgb(45, 96, 96);
        font-size: 15px;
        justify-content:space-evenly;
        font-family: Portland;
       
    }

    .myName {
        color: rgb(40, 52, 52);
        font-size: 30px;
        font-family: Portland;
    }
    .myEmail {
        color:  rgb(40, 52, 52);
        font-size: 15px;
        font-family: Portland;
    }
    .phone {
        color:  rgb(40, 52, 52);
        font-size: 15px;
        font-family: Portland;
}


}
