    @font-face {
        
        font-family: Portland;
        src: url(PortlandLdo-L394.ttf)

    }
    @font-face {
        font-family: Portland-Italic;
        src: url(PortlandLdoItalic-owPz.ttf);
        
    }
    .box{
        display:flex;
        justify-content: space-evenly;
        align-items:center;
    }
    .projects{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .bio {
        color:whitesmoke;
        font-family: 'Roboto', sans-serif;
        position: relative;    
    }
    .bio1{
        color:whitesmoke;
        font-family: 'Roboto', sans-serif;
        position: relative;    
    }
    body {
        background-color:darkgrey;
        background-size: 100%;
            
    } 
    .myName{
        display: flex;
        align-items: center;
    }
    .nav {
        display: flex;
        height:5vh;
        justify-content: flex-end;
        background-color:rgb(53, 53, 53);
    }
    a{
        margin:2%;
    }
    .box1{
        display:flex;
        justify-content: center;
        margin-bottom:10%;
    }
    .rick{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:4%;
        margin-top:4%;
    }
    .morty{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:4%;
        margin-top:4%;
    }
    .ghosts{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:4%;
        margin-top:4%;
    }
    .ghosts1{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:4%;
        margin-top:4%;
    }


    @media only screen and (max-width:400px){
        .myName{
            font-size:5px;
        }
        .developer{
            font-size:10px;
        }
        .projects{
            font-size:10px;
            margin-bottom:15%;
        }
        .api{
            font-size:10px;
            margin-bottom:5%;
        }
        .bio{
            font-size:10px;
        }
        .bio1{
            font-size:10px;
        }
        .cg{
            font-size:10px;
            margin-top:5%;
        }
        .rick{
            height:100px;
            width:150px;
        }
        .morty{
            height:100px;
            width:150px;
        }
        .box1{
            display:flex;
            justify-content: space-evenly;
        }
        .ghosts{
            height:100px;
            width:150px;
        }
        .ghosts1{
            height:215px;
            width:140px;
        }
        .contact{
            background-size:cover;
            background-image: url(https://images.pexels.com/photos/3759108/pexels-photo-3759108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            height:200px;
            opacity: 0.9;
        }
    }

    @media only screen and (max-width:600px){
    .nav {
        height:8vh;
        justify-content: flex-end;
        align-items: center;
        background-color:rgb(53, 53, 53);
    }
    .contact{
        background-image: url(https://images.pexels.com/photos/3759108/pexels-photo-3759108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: cover;
        height:300px;
        opacity: 0.9;
    }
    .rick{
        height:250px;
        width:150px;
    }
    .morty{
        height:250px;
        width:150px;
    }
    .ghosts{
        height:250px;
        width:150px;
    }
    .ghosts1{
        height:250px;
        width:150px;
    }
    .gitImg{
        display: flex;
        justify-content: center;
        align-items: center;
        height:30px;
        width:30px;    
    }
    .linkedIn{
        display: flex;
        justify-content: center;
        margin-right: 25px;
        align-items: center;
        height:30px;
        width:30px;    
    }
    .myName {
        display: flex;
        align-items: center;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        position: relative;
        margin-left: 4%;
        margin-top:-7%;
       
    }
    .developer{
        margin-left:3%;
        margin-top:10%;
        color: whitesmoke;
        font-size: 22px;
        font-family:'Roboto', sans-serif;
        position: relative;    
    }
    .projects{
        margin-top:10%;
        color: whitesmoke;
        font-size: 25px;
        font-family:'Roboto', sans-serif;
        position: relative;
        text-decoration: underline;
        margin-bottom:10%;
    }
    .api{
        margin-left:3%;
        margin-top:10%;
        color: whitesmoke;
        font-size: 18px;
        font-family:'Roboto', sans-serif;
        position: relative;
        margin-bottom:10%;
    
    }
    .cg{
        margin-left:7%;
        margin-top:10%;
        color: whitesmoke;
        font-size: 18px;
        font-family:'Roboto', sans-serif;
        position: relative;
    }
    .container{
        display:grid;
    }
    .myEmail {
        margin-top:2%;
        margin-left: 5%;
        color: whitesmoke;
        font-size: 18px;
        font-family:'Roboto', sans-serif;
        position: relative;    
    }
    .phone {
        margin-left:5%;
        color: whitesmoke;
        font-size: 18px;
        font-family:'Roboto', sans-serif;
        position: relative;
        
    }
    .resumeImg{
        display: flex;
        justify-content: center;
        align-items: center;
        height:30px;
        width:30px;    
    }
    .language {
        margin-left:5%;
        color: whitesmoke;
        font-size: 18px;
        font-family:'Roboto', sans-serif;
        position: relative;   
    }
}

@media only screen and (min-width:600px){
    .nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color:rgb(53, 53, 53);
        height:10vh;
    }
        
    a{
        color: rgb(247, 247, 247);
        font-size: 20px;
        
    }
    .rick{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        height:400px;
        width:285px;
        margin-bottom:4%;
        margin-top:4%;
    }
    .morty{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        height:425px;
        width:215px;
        margin-top: 4%;
    }
    .box1{
        display:flex;
        justify-content: space-evenly;
    }
    .ghosts{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        height:450px;
        width:255px;
        margin-bottom:4%;
        margin-top:4%;
    }
    .ghosts1{
        display:block;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
        height:450px;
        width:255px;
        margin-bottom:4%;
        margin-top:4%;
    }
    .linkedIn{
        display: flex;
        justify-content: center;
        margin-right: 25px;
        align-items: center;
        height:45px;
        width:45px;
       
    }
    .gitImg{
        display: flex;
        justify-content: center;
        height:45px;
        width:45px;
        
    }
    .resumeImg{
        display: flex;
        justify-content: center;
        align-items: center;
        height:45px;
        width:45px;
        
    }
    
    .contact{
        background-image: url(https://images.pexels.com/photos/3759108/pexels-photo-3759108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-size: cover; 
        opacity:0.9;
        height:500px;
    }
    
    
    .myName {
        font-size:30px;
        font-family: 'Roboto', sans-serif;
        color: whitesmoke;
        margin-left: 5%;
        margin-top:-7%;
        
    }
    .developer{
        color:whitesmoke;
        font-size: 40px;
        font-family:'Roboto', sans-serif;
        position: relative;
        margin-top: 5%;
        
    }
    .projects{
        color:whitesmoke;
        font-size: 50px;
        font-family:'Roboto', sans-serif;
        position: relative;
        margin-top: 10%;
        text-decoration: underline;
        margin-bottom:10%;
    }
    .api{
        color:whitesmoke;
        font-size: 30px;
        font-family:'Roboto', sans-serif;
        position: relative;
        margin-top: 5%;
        margin-left:5%;
        margin-bottom: 10%;
    }
    .cg{
        color:whitesmoke;
        font-size: 30px;
        font-family:'Roboto', sans-serif;
        position: relative;
        margin-left: 8%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .myEmail {
        
        margin-left:2;
        color:  whitesmoke;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        
    }
    .phone {
        
        color: whitesmoke;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        position: relative;
        
    }
    .language {
        
        color: whitesmoke;
        font-size: 25px;
        font-family:  'Roboto', sans-serif;
        position: relative;
    }
    .bio {
        font-size:20px;
    }
    .bio1{
        font-size:20px;
    }
}   
@media only screen and (min-width:1000px){

.nav {
    
    display: flex;
    height:150px;
    justify-content: flex-end;
    align-items:center;
    background-color: rgb(53, 53, 53);
}
.contact{
    background-image: url(https://images.pexels.com/photos/3759108/pexels-photo-3759108.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    opacity: 0.9;
    height:775px;
}
.box{
    display:flex;
    justify-content: space-evenly;
}
.rick{
    display:block;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    height:600px;
    width:375px;
    margin-bottom:4%;
    margin-top:4%;
}
.morty{
    display:block;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    height:600px;
    width:275px;
    margin-top:4%;
}
.box1{
    display:flex;
    justify-content: space-evenly;
}
.ghosts{
    display:block;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    height:600px;
    width:275px;
    margin-bottom:4%;
    margin-top:4%;
}
.ghosts1{
    display:block;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    height:600px;
    width:375px;
    margin-bottom:4%;
    margin-top:4%;
}

.linkedIn{
    display: flex;
    justify-content: center;
    margin-right: 25px;
    align-items: center;
    height:65px;
    width:60px;
   
}
.gitImg{
    display: flex;
    justify-content: center;
    height:60px;
    width:60px;
    
}
.resumeImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
    width:60px;
    
}
.myEmail {
    color:whitesmoke;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-left: 10%;
}

.phone {
    color:whitesmoke;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
}

.myName {
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 60px;
    margin-left: 7%;
    font-family:'Roboto', sans-serif;
    color: whitesmoke;
}

.developer{
    margin-left:10%;
    color:whitesmoke;
    font-size:55px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom:2%;
   
}
.projects{
    color:whitesmoke;
    font-size:55px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    margin-bottom:7%;    
}
.api{
    color:whitesmoke;
    font-size: 40px;
    font-family:'Roboto', sans-serif;
    position: relative;
    margin-top:10%;
}
.cg{
    color:whitesmoke;
    font-size: 40px;
    font-family:'Roboto', sans-serif;
    position: relative;
    margin-left: 8%;
    margin-top: 10%;
}

.language {
    margin-left:10%;
    color: whitesmoke;
    font-size: 25px;
    font-family:  'Roboto', sans-serif;
    position: relative;
    margin-top:3%;
}

}


