.header {
    color: darkgreen;
    font-family: Georgia;
    text-align: center;
}
.header-2 {
    text-align: center;}
    
p {
    line-height: 25px;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}