body {
    background: green;
}h1 {color:white;
}
.pickle-world{
    color:green f
    font-size: 
}
body {
    background: black;
    margin: 0;

}
.container {
    background: #333;
    width: 150 pt;
    height: 150 pt;
}
.box {
    color: white;
    border: solid 2pt red;
    
}