.france {
    display: inline-block;
    

}

.france-1 {
    display: inline-block;
    width: 200px;
    height: 420px;
    background:blue;
    position: relative;
   
}

.france-2{ 
    display: inline-block;
    width: 200px;
    height: 420px;
    background: white;
    position: relative;
   
}

.france-3{
    display: inline-block;
    width:200px;
    height:420px;
    background:red;
    position: relative;
   
   
}

.germany{

    display: inline-block;
    padding-top: 100px;
    flex-direction: column;
}

.germany-1{

    display:inline-block;
    width: 600px;
    height: 125px;
    background:black;
    position: relative;
   
   
}

.germany-2 {

    display:inline-block;
    width: 600px;
    height: 125px;
    background:red;
    margin-right: 500px;
   

}

.germany-3{

    display:inline-block;
    width: 600px;
    height: 125px;
    background:yellow;
    flex-direction: column;

}

.madagascar{

    display:inline-block;
    border: lightblue 4px solid;
    height: 435px;
    width: auto;
    margin-top: 80px;
    margin-bottom: 100px;
   
}

.madagascar-1 {

    display:inline-block;
    background:white;
    position: relative;
    margin-bottom: 30px;

}

.madagascar-2{

    display: inline-flexbox;
    width:475px;
    height:218px;
    background:red;
    position:relative;
    float: right;
    
    
}

.madagascar-3{

    display: inline-flexbox;
    width:475px;
    height:218px;
    background:green;
    position: relative;
    margin-top: 188px;
    margin-left: 220px;
    
}

.switzerland{

    height:500px;
    width: 500px;
    border: lightblue 5px solid;
    background: red;
    margin-right: 50%;
}

.switzerland-1{

    height:315px;
    width: 95px;
    flex-direction: column;
    margin-left: 210px;
    margin-top: 100px;
    background: white;

}

.switzerland-2{

    height:95px;
    width: 315px;
    flex-direction: row;
    background: white;
    margin-left:20%;
    margin-top:-200px;
    margin-right:50px;
  
}

.sweden{

    display:inline-flexbox;
    background: dodgerblue;
    position: relative;
    width:550px;
    height:350px;
    margin-top: 50px;
    border: lightblue 5px solid;


}

.sweden-1{

    display: inline-flexbox;
    background: gold;
    height:350px;
    width: 70px;
    flex-direction: column;
    position: relative;
    margin-left: 30%;
}

.sweden-2{

    display: inline-flexbox;
    background: gold;
    height:70px;
    width: 550px;
    flex-direction: row;
    position: relative;
    margin-top: -37%;


}

.gambia{

    display:inline-flexbox;
    background: white;
    position: relative;
    width:550px;
    height:375px;
    margin-top: 50px;
    border: lightblue 5px solid;

}

.gambia-1{

    display: inline-flexbox;
    background: #cc1414 ;
    position: relative;
    width:550px;
    height: 120px;
    flex-direction: row;
    margin-bottom: 25px;
}

.gambia-2{

    display: inline-flexbox;
    background: midnightblue;
    position: relative;
    width: 550px;
    height:85px;
    flex-direction: row;
    margin-bottom: 25px;
}

.gambia-3{

    display: inline-flexbox;
    background: rgb(95, 126, 32);
    width: 550px;
    height: 120px;
    flex-direction: row;

}
