.france {
    display: inline-block;
    

}

.france-1 {
    display: inline-block;
    width: 200px;
    height: 420px;
    background:blue;
    position: relative;
   
}

.france-2{ 
    display: inline-block;
    width: 200px;
    height: 420px;
    background: white;
    position: relative;
   
}

.france-3{
    display: inline-block;
    width:200px;
    height:420px;
    background:red;
    position: relative;
   
   
}

.germany{

    display: inline-block;
    padding-top: 100px;
    flex-direction: column;
}

.germany-1{

    display:inline-block;
    width: 600px;
    height: 125px;
    background:black;
    position: relative;
   
   
}

.germany-2 {

    display:inline-block;
    width: 600px;
    height: 125px;
    background:red;
    margin-right: 500px;
   

}

.germany-3{

    display:inline-block;
    width: 600px;
    height: 125px;
    background:yellow;
    flex-direction: column;

}

.madagascar{

    display:inline-block;
    border: lightblue 4px solid;
    height: 435px;
    width: auto;
    margin-top: 80px;
    margin-bottom: 40px;
   
}

.madagascar-1 {

    display:inline-block;
    background:white;
    position: relative;
    margin-bottom: 30px;
   
   
}

.madagascar-2{

    display: inline-flexbox;
    width:475px;
    height:218px;
    background:red;
    position:relative;
    float: right;
    
    
}

.madagascar-3{

    display: inline-flexbox;
    width:475px;
    height:218px;
    background:green;
    position: relative;
    float: right;
    margin-bottom: 5px;
    
   
    
}

.switzerland{


    display: inline-block;
    height:500px;
    width: 500px;
    border: lightblue 5px solid;
    margin-left: 75px;
    background: red;
}

.switzerland-1{

    height:250px;
    width: 75px;
    flex-direction: column;
    margin-left: 215px;
    margin-top: 140px;
    background: white;

}

.switzerland-2{

    height:75px;
    width: 250px;
    flex-direction: row;
    background: white;
    margin-left: 125px;
    margin-bottom: 150px;
    justify-content: center;
    


}

